
:root {
  /* colors */
  --primary: rgb(244, 244, 244);
  --primary-variant: rgb(255, 255, 255);
  --secondary: rgb(35, 35, 35);
  --secondary-variant: rgba(35, 35, 35, .5);
  --accent: rgb(219, 61, 32);

  /* fonts */
  --ffamily-primary: 'Cormorant Garamond', serif;
  --ffamily-secondary: Tahoma, Geneva, Verdana, sans-serif;
  --ffamily-title-1: var(--ffamily-primary);
  --ffamily-title-2: var(--ffamily-primary);
  --ffamily-greeting: var(--ffamily-primary);
  --ffamily-link: var(--ffamily-primary);
  --ffamily-blockquote: var(--ffamily-secondary);
  --ffamily-blockquote-author: var(--ffamily-primary);
  --ffamily-copyright: var(--ffamily-secondary);
  --fsize-title-1: clamp(1.5rem, 10vw, 3rem);
  --fsize-title-2: clamp(1.5rem, 10vw, 3rem);
  --fsize-greeting: clamp(4rem, 10vw, 8rem);
  --fsize-link: 1.25rem;
  --fsize-blockquote: .8rem;
  --fsize-blockquote-author: 1rem;
  --fweight-title-1: 700;
  --fweight-title-2: 700;
  --fweight-greeting: 700;
  --fweight-link: 400;
  --fweight-blockquote: 400;
  --fweight-blockquote-author: 700;
  --fweight-copyright: 400;
  --lspacing: 1px;
  --lheight: 1.4;

  /* sizes */
  --step: 1.5rem;
  --container: 1170px;

}

/* min-reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, p,
blockquote, cite {
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  min-height: 100svh;
  font-size: 16px;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

::selection {
  color: var(--primary);
  background-color: var(--secondary);
}

/* body */
.body {
  color: var(--secondary);
  background-color: var(--primary);
  font-family: var(--ffamily-primary);
}

/* container */
.container {
  max-width: 90%;
  margin-inline: auto;
}

@media (min-width: 1280px) {
  .container {
    max-width: var(--container);
  }
}

/* header */
.header {
  min-height: 90svh;
  margin-bottom: 2rem;
}

@media (max-width: 769px) {
  .header {
    min-height: 100%;
  }
}

.header__flex {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-block: 2rem;
}

@media (max-width: 426px) {
  .header__flex {
    gap: 0;
  }
}

/* header --> nav-site */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__group-link {
  display: flex;
  gap: 1rem;
}

.nav__link {
  position: relative;
  padding-inline: var(--step);
  color: var(--primary);
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.nav__link:before,
.nav__link:after {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-family: var(--ffamily-link);
  font-size: var(--fsize-link);
  font-weight: var(--fweight-link);
  letter-spacing: var(--lspacing);
  text-transform: capitalize;
  color: var(--secondary);
  background-color: var(--primary);
  transition: all .3s ease-in-out;
}

.nav__link:after {
  content: attr(data-name-after);
  transform: translateY(30px);
}

.nav__link:before {
  content: attr(data-name-before);
  transform: translateY(0);
}

.nav__link:hover:before {
  transform: translateY(-30px);
}

.nav__link:hover:after {
  transform: translateY(0);
}

/* header --> nav-mobile */
.nav-mobile {
  z-index: 4;
  text-align: end;
}

.nav-mobile input {
  display: none;
}

.nav-mobile label {
  position: relative;
}

.nav-mobile label::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--secondary);
}

.nav-mobile input:checked ~ .nav-mobile__list {
  transform: translateY(10px);
}

.nav-mobile__list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: .5rem;
  transform: translateY(-200px);
  transition: all .3s ease-in-out;
}

.list__link {
  font-family: var(--ffamily-link);
  font-size: var(--fsize-link);
  font-weight: var(--fweight-link);
  letter-spacing: var(--lspacing);
  text-transform: capitalize;
  color: var(--secondary);
  background-color: var(--primary);
  transition: all .3s ease-in-out;
}

.list__link:hover {
  text-decoration: underline;
  color: var(--accent);
}

@media (max-width: 426px) {
  .nav {
    display: none;
  }
}

@media (min-width: 426px) {
  .nav-mobile {
    display: none;
  }
}

/* header --> banner */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.banner__image {
  min-width: 300px;
}

.banner__image {
  flex: 2;
}

.banner__intro {
  flex: 1.5;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.intro__greeting {
  font-family: var(--ffamily-greeting);
  font-size: var(--fsize-greeting);
  font-weight: var(--fweight-greeting);
  color: var(--accent);
  text-transform: capitalize;
}

.intro__title {
  font-family: var(--ffamily-title-1);
  font-size: var(--fsize-title-1);
  font-weight: var(--fweight-title-1);
}

.blockquote {
  max-width: 60ch;
  font-family: var(--ffamily-secondary);
  font-size: var(--fsize-blockquote);
  font-weight: var(--fweight-blockquote);
  line-height: var(--lheight);
}

.blockquote__name-author {
  font-family: var(--ffamily-blockquote-author);
  font-style: normal;
  font-size: var(--fsize-blockquote-author);
  font-weight: var(--fweight-blockquote-author);
}

/* footer */
  .footer {
    text-align: center;
  }

.copyright {
  padding-block: 1rem;
  font-family: var(--ffamily-copyright);
  font-weight: var(--fweight-copyright);
}

/* projects */
.projects {
  position: relative;
  margin-bottom: 2rem;
  padding-block: 2rem;
}

.projects:after {
  content: "";
  position: absolute;
  top: -2rem;
  right: 2rem;
  bottom: 0;
  z-index: -1;
  width: 60%;
  background-color: var(--accent);
}














