
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: var(--margin-bottom);
  padding-block: var(--padding-block);
}

.main:after {
  content: "";
  position: absolute;
  top: -2rem;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 50%;
  background-color: var(--accent);
}
